*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1{
    color: rgb(137, 137, 204);
    
}

h1:hover{
    color:cadetblue;
    text-decoration: underline;
    transition: .3s;
}

p{
    color:rgb(175, 127, 127);
    margin-top: 75px;
}

h2{
    color:greenyellow;
}


h2:hover{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 117, 55);
    text-decoration: underline;
    transition: .7s;
}

a{
    text-decoration: none;
    margin: 30px;
}

a:hover{
    color: black;
    text-decoration: underline black;
    transform: scale(1.2);
}