*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    color: rgb(137, 137, 204);
    
}

p{
    color:rgb(175, 127, 127);
    margin-top: 75px;
}

h1:hover{
    color:cadetblue;
    text-decoration: underline;
    transition: .3s;
}